parameters:
	ignoreErrors:
		-
			message: '#^Call to static method make\(\) on an unknown class Guava\\FilamentIconPicker\\Forms\\IconPicker\.$#'
			identifier: class.notFound
			count: 1
			path: app/Filament/Resources/TicketTypes/TicketTypeResource.php

		-
			message: '#^Call to static method make\(\) on an unknown class Guava\\FilamentIconPicker\\Tables\\IconColumn\.$#'
			identifier: class.notFound
			count: 1
			path: app/Filament/Resources/TicketTypes/TicketTypeResource.php

		-
			message: '#^Method App\\Policies\\ActivityPolicy\:\:forceDelete\(\) should return bool\|Illuminate\\Auth\\Access\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Policies/ActivityPolicy.php

		-
			message: '#^Method App\\Policies\\ActivityPolicy\:\:restore\(\) should return bool\|Illuminate\\Auth\\Access\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Policies/ActivityPolicy.php

		-
			message: '#^Method App\\Policies\\ProjectStatusPolicy\:\:forceDelete\(\) should return bool\|Illuminate\\Auth\\Access\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Policies/ProjectStatusPolicy.php

		-
			message: '#^Method App\\Policies\\ProjectStatusPolicy\:\:restore\(\) should return bool\|Illuminate\\Auth\\Access\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Policies/ProjectStatusPolicy.php
